doctype html
html
  head
    title Viewer
    style.
      html, body { margin: 0; padding: 0; }
  body
    canvas(
      width= width
      height= height
      data-3dviewer-color= color
      data-3dviewer-url= url
      data-3dviewer-x= x
      data-3dviewer-y= y
      data-3dviewer-z= z
    )

    != js("jsc3d")
    != js("viewer")
